h1 {
  text-align: center;
}
span {
  display: block;
  text-align: center;
}
.Project_Box {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
}
p {
  text-align: center;
  font-size: 30px;
}
